# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
venv3/
.venv/
env/
ENV/

# Node
node_modules/
frontend/node_modules/
frontend/dist/

# Git
.git
.gitignore

# OS
.DS_Store

# Docker
docker-compose.override.yml
