/* stylelint-disable at-rule-allowed-list */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* stylelint-enable at-rule-allowed-list */
body {
  background-color: #f8fafc; /* Light slate background */
}